* {
  padding: 0;
  margin: 0;
}

body {
  margin-bottom: 1.2rem;

  background-color: #fdffa3;
  text-align: center;
}

h1 {
  font-size: 1.25rem;
  background-color: aquamarine;
  color: rgb(82, 73, 0);
  font-family: Arial, sans-serif;
}

p {
  font-size: 1rem;
  font-family: "Courier New", Courier, monospace;

  color: rgb(212, 208, 208);
  background-color: rgb(92, 54, 78);
}
