* {
  padding: 0;
  margin: 0;
  margin-block: 0.5rem;
}

html,
body {
  height: 100%;
  margin: 0;
}
body {
  margin-bottom: 1.2rem;

  background-color: #fdffa3;
  text-align: center;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2rem;
  padding-block: 1.5rem;
  background-color: aquamarine;
  color: rgb(82, 73, 0);
  font-family: Arial, sans-serif;
}

p {
  font-size: 1.75rem;
  font-family: "Courier New", Courier, monospace;

  color: rgb(212, 208, 208);
  background-color: rgb(92, 54, 78);
  padding-block: 1.5rem;
}

h3 {
  font-size: 1.3rem;
  font-family: "Lucida Console", Monaco, monospace;
  color: rgb(241, 206, 5);
  background-color: rgb(26, 24, 24);
  padding-block: 1rem;
}

h2 {
  font-size: 1.4rem;
  font-family: "Times New Roman", Times, serif;
  color: rgb(255, 246, 168);
  background-color: rgb(226, 141, 61);
  padding-block: 1rem;
}

h4 {
  font-size: 1.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(0, 0, 0);
  background-color: rgb(173, 255, 47);
  padding-block: 0.8rem;
}

h5 {
  font-size: 1.75rem;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  color: rgb(28, 226, 54);
  background-color: rgb(59, 58, 59);
  padding-block: 1.5rem;
}

.footer {
  margin-top: auto;
  padding: 20px 10px;
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 220, 220);
  font-size: 1.25rem;
}
